# MacOS
*.DS_Store

# Python
__pycache__/
*.egg-info/
.venv/
.mypy_cache/
.ipynb_checkpoints/

#poetry
poetry.lock

# Node
node_modules/

# Editor
.vscode/

# Sensitive
.env
.ec2

# Logs
lightning_logs/

# Autogluon
AutogluonModels/

# temo file 
temp_*
autopytorch1h_result.json
metrics.tar.gz
thirdparty/*
tsbench-weekend-exp-others.json
tsbench-weekend-exp.json

# Submodules
vendor/
